body {
  margin: 0;
  padding: 0;
  font-size: 16px;
    background-color: #B7E1F6;
}
nav {
  display: block;
  line-height: 25px;
  width: 100%;
  height:50px;
  padding-top: 20px;
  background-color: black;
}
ul {
    font-family: 'Oswald', sans-serif;
  margin: 0;
  list-style-type: none;
  text-align: right;
}
a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
    color: white;
    padding: 10px 0px;
}
.navItems {
  float: right;
  width: 7%;
  height:100%;
  padding: 5px;
  text-align: center;
  margin-right: 10px;
}
.navItems:hover > a{
  font-size: 1.5em;
  color: red;
  background-color: white;
}
#contact, #projects{
  margin-right: 20px;
}
#nameTag{
  float: left;
  margin-left: 10px;
  font-size: 2em;
}

header {
  text-align: center;
}

h1, h2, h3, h4,h5,h6 {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  text-decoration: underline;
  font-family: 'Rubik', sans-serif;
}
h2, h3, h4,h5,h6
{
}
h1 {
  display: inline-block;
  text-decoration: none;
  margin: 0;
}
hr {
  width: 40%;
  margin: 0 auto 10px auto;
  color: black;
  border: 2px solid black;
}
#pet {
  position: absolute;
  height: 150px;
  width: 150px;
  margin-left: 100px;
}
section, main {
  background-color: #B7E1F6;
}
#diagrams {
  height: auto;
}
.container {
  background-color: #6AC3EC;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
p{
  text-align: left;
  /*font-size: 1.25em;*/
  line-height: 1.5em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-family: 'Roboto', sans-serif;
}
#info {
  background-color: #B7E1F6;
  border: 5px solid white;
  padding: 10px 0px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#intro , #designProbelm, .stakeholderInfo{
  background-color: #B7E1F6;
  padding: 20px 30px;
  border: 5px solid white;
}

.stakeholderTitle{
  background-color: black;
  padding: 5px 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  width: 80%;
  color: white;
}
.stakeholderInfo {
  margin: 0 auto;
  width: 90%;
}
#problemStatement {
    border: 10px solid white;
}
#diagramIntro {

}
figure {
  text-align: center;
}
.affinityDiagram, #relationshipModel, #sequenceModel {
  height: 25%;
  width: 25%;
}

a.next {
  display: block;
  text-align: center;
  text-decoration: none;
  clear: both;
}
.nextText {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}
a.next > img {
  width: 50px;
  height: 50px;
}
a.next:hover {
    opacity:0.5;
}



@media (max-width:980px){
  .navItems:hover {
    font-size: 1.2em;
  }
  .navItems > a {
      text-decoration: none;
      font-weight: bold;
      color: white;
      font-size: 1.25em;
  }
  #pet {
    display: none;
  }
  p{
    font-size: 1em;
  }
  #info {
    width: 80%;
  }
  #intro , #designProbelm, .stakeholderInfo{
    background-color: #B7E1F6;
    padding: 10px 15px;
    border: 5px solid white;
  }
}
